    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Passion+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Passion+One&family=Sriracha&display=swap'); /*font-family: 'Passion One', cursive;
    font-family: 'Sriracha', cursive;*/
    *{
        margin: 0;
        padding: 0px;
        
    }
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        min-height: 100vh;
        background-color: darkgray;

    }
    header {
        font-family: Passion One, cursive;
        background-color: black;
        color: white;
        text-align: center;
        
    }
    header > h1 {
        padding-top 50px;
       
        font-variant: small-caps;
        font-size: 10vw;
    }
    header > p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 50px;
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: bolder;
    }
    a:hover {
        text-decoration: underline;
    }
    section {
        font-family: 'Sriracha', cursive;
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-size: 3vw;
    }
    section > p {
        padding-bottom: 2em;
    }
    .normal {
        background-color: white;
        color: black;
    }
    .imagem {
        background-attachment: fixed;
        background-color: rgb(51, 47, 47);
        color: white;
    }
    .imagem > p {
        background-color: rgba(0, 0, 0, 0.308);
        display: inline-block;
        padding: 5px;
        text-shadow: 3px 3px 0px black;
    }
    #img01 {
        background-image: url(imagens/background001.jpg);
        background-position: right center;
        background-size: cover;
    }
    #img02 {
        background-image: url(imagens/background002.jpg);
        background-size: cover;
    }
    
    
    
    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
    }